* {
    font-family: "Lora", serif;
}

body {
    background-color: #000000;
    text-align: center;
}

.container {
    margin: 120px auto;
    max-width: 650px;
}

h1 {
    color: #9A0680;
    font-size: 42px;
    line-height: 1.8;
}

form {
    background-color: #9A0680;
    padding: 38px;
    border-radius: 10px;
}

input {
    background-color: #c2b8c5e2;
    border: none;
    border-radius: 50px;
    color: #9A0680;
    font-size: 17px;
    padding: 12px 12px;
    width: 70%;
}

.submit-input {
    width: 20%;
    background-color: #c2b8c5e2;
    color: #9A0680;
    margin-left: 10px;
    font-weight: 600;
}

.submit-input:hover {
    background-color: #150050;
    color: #c2b8c5e2;
    cursor: pointer;
    transition: all 150ms ease-in-out;
}

.quote-generator {
    background: #c2b8c5e2;
    font-size: 16px;
    color: #9A0680;
    margin-top: 28px;
    margin-bottom: -70px;
    padding: 25px;
    line-height: 24px;
    text-align: left;
    border-left: 3px solid #9A0680;
    border-right: 3px solid #9A0680;
    border-radius: 38px 12px;
}

footer {
    color: #c2b8c5e2;
}

a,
.copy-right {
    color: #c2b8c5e2;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #9A0680;
    text-decoration: underline;
    transition: 150ms all ease-in-out;
}